Repository antop-dev/billiards-love, pull requests merged in 2022-01, with the labels that each got.

#238 Billiards love 230 사용자 경연 참여 / 참여 취소 기능, 관리자 경연 생성/시작/종료/중단 추가
  front-end/package-lock.json
  front-end/src/api/contest.api.js
  front-end/src/router/routes.js
  front-end/src/store/index.js
  front-end/src/store/mutations.js
  front-end/src/view/DashBoard.vue
  front-end/src/view/JoinContest.vue
  front-end/src/view/MatchInfo.vue
  front-end/src/view/MatchRank.vue
Labels: front-end

#243 billiards-love-241 [Back-end] 테스트 커버리지 업 2차
  back-end/src/docs/asciidoc/index.adoc
  back-end/src/main/java/org/antop/billiardslove/exception/CantEndContestStateException.java
  back-end/src/main/java/org/antop/billiardslove/exception/ContestAcceptingException.java
  back-end/src/main/java/org/antop/billiardslove/jpa/entity/Contest.java
  back-end/src/main/resources/static/index.html
  back-end/src/test/java/org/antop/billiardslove/api/ContestInfoApiTest.java
  back-end/src/test/java/org/antop/billiardslove/dao/ContestDaoTest.java
  back-end/src/test/java/org/antop/billiardslove/integration/ContestEndTest.java
  back-end/src/test/java/org/antop/billiardslove/integration/ContestInfoTest.java
  back-end/src/test/java/org/antop/billiardslove/jpa/repository/ContestRepositoryTest.java
  back-end/src/test/resources/test-h2.sql
Labels: back-end

#245 billiards-love-242 대회 참가시 최대 참가인원 체크 로직 추가
  back-end/src/docs/asciidoc/index.adoc
  back-end/src/main/java/org/antop/billiardslove/dao/ContestDao.java
  back-end/src/main/java/org/antop/billiardslove/exception/ContestMaxJoinerException.java
  back-end/src/main/java/org/antop/billiardslove/jpa/entity/Contest.java
  back-end/src/main/java/org/antop/billiardslove/jpa/repository/ContestRepository.java
  back-end/src/main/java/org/antop/billiardslove/service/ContestService.java
  back-end/src/main/resources/api-docs/openapi3.json
  back-end/src/main/resources/static/index.html
  back-end/src/test/java/org/antop/billiardslove/dao/ContestDaoTest.java
  back-end/src/test/java/org/antop/billiardslove/integration/ContestJoinTest.java
  back-end/src/test/resources/test-h2.sql
Labels: back-end

#246 billiards-love-244 대회 상태 한자리 숫자코드 대신 문자열자체를 사용하도록 수정
  back-end/src/docs/asciidoc/index.adoc
  back-end/src/main/java/org/antop/billiardslove/dao/CodeDao.java
  back-end/src/main/java/org/antop/billiardslove/jpa/convertor/ContestStateConverter.java
  back-end/src/main/java/org/antop/billiardslove/jpa/entity/Code.java
  back-end/src/main/java/org/antop/billiardslove/jpa/entity/CodeGroup.java
  back-end/src/main/java/org/antop/billiardslove/jpa/entity/Contest.java
  back-end/src/main/java/org/antop/billiardslove/jpa/repository/CodeGroupRepository.java
  back-end/src/main/java/org/antop/billiardslove/jpa/repository/CodeRepository.java
  back-end/src/main/java/org/antop/billiardslove/mapper/CodeMapper.java
  back-end/src/main/java/org/antop/billiardslove/mapper/ContestMapper.java
  back-end/src/main/java/org/antop/billiardslove/model/ContestState.java
  back-end/src/main/java/org/antop/billiardslove/service/CodeService.java
  back-end/src/main/resources/api-docs/openapi3.json
  back-end/src/main/resources/static/index.html
  back-end/src/test/java/org/antop/billiardslove/api/ContestInfoApiTest.java
  back-end/src/test/java/org/antop/billiardslove/api/ContestJoiningApiTest.java
  back-end/src/test/java/org/antop/billiardslove/api/ContestStateApiTest.java
  back-end/src/test/java/org/antop/billiardslove/dao/CodeDaoTest.java
  back-end/src/test/java/org/antop/billiardslove/jpa/repository/CodeGroupRepositoryTest.java
  back-end/src/test/resources/schema-h2.sql
  back-end/src/test/resources/test-h2.sql
  front-end/src/view/MatchInfo.vue
Labels: front-end, back-end

#232 닉네임 암호화
  front-end/src/api/login.api.js
Labels: front-end

#247 billiards-love-235 [Back-end] 회원 권한에 따른 다른 대회 목록 리턴
  back-end/build.gradle
  back-end/src/docs/asciidoc/index.adoc
  back-end/src/main/java/org/antop/billiardslove/api/ContestInfoApi.java
  back-end/src/main/java/org/antop/billiardslove/dao/ContestDao.java
  back-end/src/main/java/org/antop/billiardslove/service/ContestService.java
  back-end/src/main/java/org/antop/billiardslove/util/SecurityUtils.java
  back-end/src/main/resources/api-docs/openapi3.json
  back-end/src/main/resources/static/index.html
  back-end/src/test/java/org/antop/billiardslove/api/ContestInfoApiTest.java
  back-end/src/test/java/org/antop/billiardslove/dao/ContestDaoTest.java
  back-end/src/test/java/org/antop/billiardslove/integration/ContestListTest.java
Labels: back-end

#253 billards-love-250 마테리얼 ui 걷어내기
  front-end/src/view/SignUp.vue
Labels: front-end

#255 전체적으로 이상한 컴포넌트 명 변경
  front-end/package-lock.json
  front-end/src/App.vue
  front-end/src/components/common/AppHeader.vue
  front-end/src/components/common/BackButton.vue
  front-end/src/components/common/CloseButton.vue
  front-end/src/components/common/MenuButton.vue
  front-end/src/components/dashboard/BoardContents.vue
  front-end/src/components/status/ContestTabs.vue
  front-end/src/router/routes.js
  front-end/src/view/ContestApp.vue
  front-end/src/view/ContestInfo.vue
  front-end/src/view/ContestJoin.vue
  front-end/src/view/ContestMatchDetail.vue
  front-end/src/view/ContestMatchList.vue
  front-end/src/view/ContestRank.vue
  front-end/src/view/DashBoard.vue
  front-end/src/view/MatchStatus.vue
  front-end/src/view/UserRegister.vue
Labels: front-end

#263 billiards-love-262 순위표 데이터 표시 방법 변경 및 정렬
  front-end/src/view/ContestRank.vue
Labels: front-end
